html body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
  text-decoration: none;
}

.toolbar {
  padding: 5px 10px 0px 10px;
}

/*表单*/
.m-form-inline {
  .el-input__inner {
    width: 140px;
  }
  .u-col-half {
    .el-input__inner {
      width: 210px;
    }
  }
  .u-col-1_2 {
    .el-input__inner {
      width: 70px;
    }
  }
  .u-col-time {
    .el-input__inner {
      width: 100px;
    }
  }
  .u-col-1 {
    .el-input__inner {
      width: 140px;
    }
  }
  .u-col-2 {
    .el-input__inner {
      width: 280px;
    }
  }
  .u-col-2_5 {
    .el-input__inner {
      width: 320px;
    }
  }
  .u-col-3 {
    .el-input__inner {
      width: 420px;
    }
    .el-textarea__inner {
      width: 420px;
    }
  }
  .u-col-3-1 {
    .el-input__inner {
      width: 390px;
    }
    .el-textarea__inner {
      width: 420px;
    }
  }
  .u-col-4 {
    .el-input__inner {
      width: 560px;
    }
    .el-textarea__inner {
      width: 560px;
    }
  }
  .el-form-item {
    margin-bottom: 8px;
  }
}